.stays-section {
  width: 100%;
  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 0;
  }
  &__headline {
    font-size: 2.4rem;
  }
  &__length {
    font-size: 1.4rem;
  }
}

.stays-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
}
