@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --sans-serif: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--sans-serif);
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

input,
button {
  border: none;
  background: transparent;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}
